<!-- <div class="container">
    <form class="example-form" #productImageForm="ngForm">
        <h1>{{productImageForm.value | json}}</h1>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>URL</mat-label>
                <input matInput placeholder="url" name="url" [(ngModel)]="product.name">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>isPrimary</mat-label>
                <input matInput placeholder="isPrimary" name="isPrimary" [(ngModel)]="product.isPrimary">
              </mat-form-field>
        </div>
        </form>
        </div> -->